node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/
out/
Uploads/
.env
hls-output/


logs/
*.log

coverage/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

*.pid
*.seed
*.pid.lock

.cache/
.eslintcache